@import 'tailwindcss';

/* 全局滚动条优化 */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}

/* 移动端禁用 tooltip */
@media (pointer: coarse) {
  .ant-tooltip {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
}
